arrow
asgiref
asn1crypto
binaryornot
certifi
cffi
chardet
charset-normalizer
click
colorama
cookiecutter
crispy-bootstrap5
cryptography
cssselect2
distlib
dj-database-url
Django
django-browser-reload
django-crispy-forms
django-email
django-environ
django-filter
django-jquery
django-six
django-tailwind
djangorestframework
filelock
html5lib
idna
Jinja2
lxml
Markdown
markdown-it-py
MarkupSafe
mdurl
oscrypto
pdfkit
Pillow
pipenv
platformdirs
psycopg2
psycopg2-binary
pycparser
Pygments
pyHanko
pyhanko-certvalidator
pypdf
pypng
python-bidi
python-dateutil
python-slugify
pytz
PyYAML
qrcode
reportlab
requests
rich
setuptools
six
sqlparse
svglib
text-unidecode
tinycss2
types-python-dateutil
typing_extensions
tzdata
tzlocal
uritools
urllib3
virtualenv
virtualenvwrapper-win
webencodings
xhtml2pdf